*{
    margin:0;
    -ms-overflow-style:none;
    scrollbar-width: none;
    overflow-y: scroll;
    outline: none;
  }

  ::-webkit-scrollbar{
    display: none;
  }
  .Home{
    background-color: #202020;
    height: 100vh;
    width: 100vw;
    overflow: scroll;
  }
  header{
    /* border: 2px solid red; */
    height: 15vh;
    justify-content: right;
  }
  
  button{
    border-radius: 10px;
    padding: 8px 10px;
    background:none;
    border: none;
  }
  
  .login-btn{
    float: right;
    padding: 10px 15px;
    margin-top: 2rem;
    font-size: 24px;
    margin-right: 4rem;
    background-color: #ff66c4;
    font-weight: bolder;
  }
  .register-btn{
    padding: 15px 25px;
    font-size: 16px;
    background-color: #5271ff;
    margin-left: .5rem;
    margin-top: .5rem;
    font-weight: bolder;
  }
  .cont-two img{
    /* border: 2px solid red; */
    height: 50vh;
    width: 100%;
    margin-top: 5rem;
    pointer-events: none;
    /* user-select: none; */
  }
  .app-body{
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
  }
  .cont-one{
    /* border: 2px solid blue; */
    margin-left: 5rem;
    /* width: 40vw; */
    color: white;
  }
  .cont-two{
    /* border: 2px solid black; */
    margin-right: 10rem;
  }
  .cont-one h1{
    font-size: 91px;
  }
  @media (max-width: 920px){
    .Home{
      height: 100vh;
      width: 100vw;
      background-color: #202020;
      overflow: scroll;
    }
    .login-btn{
      font-size: 18px;
      margin-right: 2rem;
    }
    .register-btn{
      font-size: 15px;
      margin-left: 0;
    }
    .app-body{
      margin-top: 2rem;
      flex-direction: column;
      justify-content: start;
      gap:5rem;
      /* padding-bottom: 4rem; */
    }
    .cont-one h1{
      text-align: left;
      font-size: 3rem;
    }
    .cont-one{
      margin-left: 2rem;
    }
    .cont-two{
      margin-right: 0;
      
    }
    .cont-two img{
      
      margin: auto;
      margin-left: 40px;
      
      width: 80%;
      height: 30vh;
      /* margin-bottom: 1rem; */
    }
  }
  